@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

a {
  text-decoration: none;
  color: #1976d2;
}

code {
  font-family: 'JetBrains Mono', monospace;
}

pre code {
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
}

p code,
li code {
  background-color: #424242;
  color: #4caf50;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 0.5rem;
  font-style: italic;
}

blockquote {
  border-left: 10px solid #1976d2;
  margin-inline-start: 0;
  padding-inline-start: 30px;
}

.wp-block-code {
  background: black;
  color: #e0e0e0;
  padding: 1rem;
}

.wp-block-image {
  text-align: center;
}

.nav-link-menu {
  text-decoration: none;
  color: white;
  margin-left: 0.5rem;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 3px;
}

.nav-link-menu.active {
  color: #42a5f5;
}

.nav-link-card-post-preview {
  text-decoration: none;
  display: contents;
}

figcaption {
  text-align: center;
  color: gray;
  font-size: 0.8rem;
  padding: 1rem;
}

figure.wp-block-table {
  margin: 0;
  padding: 0;
}

.wp-block-table table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}

.wp-block-table table td {
  border: 1px solid #777;
  padding: 1rem;
}

.wp-block-table table td.has-text-align-center {
  text-align: center;
}